@model IEnumerable<schoolsSystems.Models.School>
@{
    ViewBag.Title = "Список школ города";
}

<h2 class="ah2">Список школ города</h2>
@foreach (var s in Model)
{
    <div>
        @Html.ActionLink(s.Name, "Info", new { s.Id })
        City @s.City.name
    </div>
}
