@model IEnumerable<schoolsSystems.Models.City>

@{
    ViewBag.Title = "Школы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="ah2">Школы</h2>
<div>
    <span class="add">@Html.ActionLink("Добавить школу","Create","School")</span>
</div>
<br>
@foreach (var c in Model)
{
    <div>
        @Html.ActionLink(c.name, "City", new { id = c.Id })
    </div>
}
