@model IEnumerable<schoolsSystems.Models.SchoolForm>

@foreach (var form in Model)
{
    <div>
        @Html.ActionLink(form.FormId+form.FormLetter.Letter, "Index", "Pupil", new { SchoolId = form.SchoolId, SchoolFormId = form.Id }, null)
    </div>
}