@{
    ViewBag.Title = "Контакты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="ah2">Контакты</h2>
<div>Тихонович Алкексей Андреевич</div>
<div>Моб. тел. +375296794439</div>
<div>Email Alekseytih@tut.by</div>
<hr>
<div>Тозик Евгений Иванович</div>
<div>Моб. тел. +375291858916</div>

