@{
    ViewBag.Title = "Главная";
}
<br>
    
      <div class="menu">
          <div class="left-column">@Html.ActionLink("Новости", "News")</div>
          <div class="center-left">@Html.ActionLink("Школы", "Index", "School")</div>
          <div class="center-right">@Html.ActionLink("О нас", "Info")</div>
          <div class="right-column">@Html.ActionLink("Конакты", "Contacts")</div>
      </div>

