@{
    ViewBag.Title = "Главная";
}
    <table border="1" width="1200">
        <tr>
            <th>@Html.ActionLink("Новости", "Index", "News")</th>
            <th>@Html.ActionLink("Школы", "Index", "School")</th>
            <th>@Html.ActionLink("О нас", "Index", "Info")</th>
            <th>@Html.ActionLink("Конакты", "Index", "Contacts")</th>
        </tr>
    </table>
