@{@{
    ViewBag.Title = "Главная";
}
    <table border="1">
        <tr>
            <th>Новости</th>
            <th>@Html.ActionLink("Школы", "Index", "School")</th>
            <th>Колледжи</th>
            <th>Контакты</th>
        </tr>
    </table>
    @Html.ActionLink("Schools", "Index", "School")
