@{
    ViewBag.Title = "О нас";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="ah2">Информация</h2>
<div class="inform">Этот сайт был разработан в интегрированной среде разработки <strong>Microsoft Visual Studio</strong>.
     <strong>MVS</strong>— линейка продуктов компании Microsoft, включающих интегрированную среду разработки
     программного обеспечения и ряд других инструментальных средств. Данные продукты позволяют разрабатывать
     как консольные приложения, так и приложения с графическим интерфейсом, в том числе с поддержкой технологии
     Windows Forms, а также веб-сайты, веб-приложения, веб-службы как в родном, так и в управляемом кодах для всех
     платформ, поддерживаемых <strong>Windows</strong>, <strong>Windows Mobile</strong>, <strong>Windows CE</strong>
    , <strong>.NET Framework</strong>, <strong>Xbox</strong>, <strong>Windows Phone</strong> <strong>.NET Compact Framework</strong>и <strong>Silverlight</strong>.

<strong>Visual Studio</strong> включает в себя редактор исходного кода с поддержкой технологии <srtong>IntelliSense</srtong> и возможностью простейшего
     рефакторинга кода. Встроенный отладчик может работать как отладчик уровня исходного кода, так и отладчик машинного уровня.
     Остальные встраиваемые инструменты включают в себя редактор форм для упрощения создания графического интерфейса приложения,
     веб-редактор, дизайнер классов и дизайнер схемы базы данных. Visual Studio позволяет создавать и подключать сторонние дополнения
     (плагины) для расширения функциональности практически на каждом уровне, включая добавление поддержки систем контроля версий
     исходного кода (как, например, <strong>Subversion</strong> и <strong>Visual SourceSafe</strong>
    ), добавление новых наборов инструментов (например,
    для редактирования и визуального проектирования кода на предметно-ориентированных языках программирования) или инструментов
    для прочих аспектов процесса разработки программного обеспечения (например, клиент <strong>Team Explorer</strong> для работы с <strong>Team Foundation Server</strong>).
</div>
